<div>
  <nav class="navbar   navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img data-aos="fade-right" src="assets\preview-removebg-preview-transformed.png"  class="imgLogo" alt="ORDERZIT" >
        <b id="companylogo">ORDERZIT</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item" >
            <a  class="nav-link nav_names"  aria-current="page" routerLink="home" routerLinkActive="active"><mat-icon>room_service_outlined</mat-icon>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_names" routerLink="products"  routerLinkActive="active"><mat-icon>menu_book_outlined</mat-icon> Foods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_names" routerLink="cart" routerLinkActive="active"><i class="fa-solid fa-cart-shopping"></i>  Cart</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link nav_names" routerLink="contact" routerLinkActive="active"><mat-icon>phone_outlined</mat-icon> Contact Us</a>
          </li>
        </ul>
        <form class="d-flex log_out"  role="search">
          <button class="btn log_out" type="button" (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i> LOGOUT</button>
        </form>
      </div>
    </div>
  </nav>
  
</div>