<div><footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>No51 MMDA Colony,Maduravoyal Chennai-95</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i><mat-icon>call</mat-icon></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>7305801920</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i><mat-icon>mail</mat-icon></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail&#64;info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="navbar-brand" href="#">
                                <img src="assets\preview-removebg-preview-transformed.png" class="imgLogo" alt="ORDERZIT" >
                                <b id="companylogo">ORDERZIT</b>
                              </a>                        </div>
                        <div class="footer-text">
                            <p> Indian online food ordering and delivery platform. Founded in 2014, ODERZIT is headquartered in Bangalore and operates in more than 500 Indian cities</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>services</h3>
                        </div>
                        <ul>
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="cart">cart</a></li>
                            <li><a routerLink="product">Products</a></li>
                            <li><a routerLink="contact">Contact us</a></li>
                            <li><a routerLink="home">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Dont miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="contact">
                                <input type="text" placeholder="Email Address">
                                <button><i><mat-icon>send</mat-icon></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved <a href="home">ORDERZIT</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="home">Terms</a></li>
                            <li><a href="home">Privacy</a></li>
                            <li><a href="home">Policy</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer></div>