
<body>
    <div class="contianer">
        <div class="header">
         

        <div class="section">
            
            <div class="sub3">
                <h1 class="heading1" data-aos="zoom-in-down" >ORDERZIT</h1>
                <p class="heading2" data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500" >From swanky upscale restaurants to the cosiest hidden
                     gems serving the most incredible food, <b style="color: #ff9422;">ORDERZIT</b> covers it all. Explore menus, 
                     and millions of restaurant photos and reviews from users just like you, to
                      find your next great meal.
                </p>
                <button class="btn btn-warning order-food" data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" routerLink="/products">   <i class="material-icons">fastfood</i>ORDER FOODS</button>

            </div>

            <div class="sub4">
                <img src="https://wallpapercave.com/wp/wp9919879.jpg" data-aos="fade-right" alt="" class="image2">
                <img src="https://wallpapercave.com/wp/wp13376207.jpg" data-aos="fade-left" alt="" class="image3">
            </div>
        </div>
    </div>





  
  
  
  
  
