
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form (ngSubmit)="onSubmit()" >
                <h1>Sign up</h1>
                <span> Join to our Community!</span>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email" />
                <input type="password" [(ngModel)]="password" name="password"  placeholder="Password" />
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome to ORDERZIT!</h1>
                    <b>Click here If you already have a account</b>
                    <a  class="atag" routerLink="/login">Sign IN</a>
                   
                </div>
            </div>
        </div>
    </div>
</body>

